In [1]:
import mysql.connector as connector

In [6]:
connection = connector.connect(user = "little_lemon", password = "little_lemon" , db = "little_lemon_db" )
cursor = connection.cursor()

In [7]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
result = cursor.fetchall()
for row in result:
    print(row)

('all_info_view',)
('bookings',)
('customers',)
('delivery_status',)
('employees',)
('menu',)
('menu_item_view',)
('menuitems',)
('orders',)
('ordersview',)

In [9]:
sql='''
    SELECT 
        customers.CustomerName ,
        customers.CustomerNumber ,
        customers.Email
    FROM
        orders
            JOIN
        delivery_status ON orders.DeliveryID = delivery_status.DeliveryID
            JOIN
        bookings ON delivery_status.BookingID = bookings.BookingID
            JOIN
        customers ON bookings.CustomerID = customers.CustomerID
    WHERE
        (orders.TotalCost > 60);
    '''
cursor.execute(sql)
result = cursor.fetchall()
print (cursor.column_names)
for row in result:
    print(row)

('CustomerName', 'CustomerNumber', 'Email')